.git
.gitignore
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
web_wrapper/frontend/node_modules
web_wrapper/frontend/dist
web_wrapper/backend/uploads/*
web_wrapper/backend/outputs/*
!web_wrapper/backend/uploads/.gitkeep
!web_wrapper/backend/outputs/.gitkeep
