atomicwrites
attrs
black
click
colorama
coverage
distlib
filelock
flake8
imageio-ffmpeg
iniconfig
lxml
mccabe
mypy-extensions
numpy
packaging
pathspec
Pillow
platformdirs
pluggy
polib
py
pycodestyle
pycryptodomex
pyflakes
pyparsing
pytest
pytest-cov
six
toml
tomli
tox
tqdm
virtualenv
hanzidentifier
langdetect
fastapi
uvicorn
python-multipart
aiofiles
httpx
